/* Reset & základy */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-height: 100vh;
  background: linear-gradient(
    to bottom,
    #fbfaf5 20%,
    #e7f4fa 80%,
    #fbfaf5 100%
  );
}

body {
  display: flex;
  flex-direction: column;
}

/* Nadpisy */
h1,
h2 {
  color: #005577;
  margin-bottom: 1rem;
}

/* Odkazy */
a {
  color: #005577;
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  color: #003344;
  text-decoration: underline;
}

/* Menu */
nav {
  margin-bottom: 2rem;
}

nav a {
  margin-right: 1rem;
}

/* Obsah */
.container {
  max-width: 700px;
  margin: 0 auto;
  background: transparent; /* 🔁 ZMĚNIT TADY */
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.accent-bar {
  height: 6px;
  background-color: #e6ca91;
  width: 100%;
  margin-bottom: 2rem;
}

#__next {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
